/* 统一的默认字体颜色 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* background color */
    color: #333; /* 设置正文文本颜色为灰黑色 */
}

/* container style */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

/* header and footer style */
header, footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* 导航栏样式 */
nav {
    background: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #002040;
    border-radius: 4px;
}

/* 统一设置 #home, #introduction, #training-materials 部分的共同样式 */
#home, #introduction, #training-materials {
    background-color: #f8f9fa;  /* 浅灰色背景 */
    padding: 20px;               /* 内边距 */
    border-radius: 5px;          /* 圆角效果 */
}

/* 统一设置 h3 和 h4 标题的颜色 */
#home h3, #introduction h3, #training-materials h3,
#home h4, #introduction h4, #training-materials h4 {
    color: #0056b3;  /* 深蓝色 */
}

/* 统一设置列表的内边距 */
#home ul, #introduction ul, #training-materials ul {
    padding-left: 20px;  /* 左侧内边距 */
}

/* 统一设置列表项之间的间距 */
#home li, #introduction li, #training-materials li {
    margin-bottom: 10px; /* 列表项之间的间距 */
}

/* 统一设置段落、链接和列表的文本颜色为灰黑色 */
#home p, #introduction p, #training-materials p,
#home a, #introduction a, #training-materials a,
#home li, #introduction li, #training-materials li {
    color: #333;  /* 深灰色 */
}


/* img style */
#home img {
    max-width: 80%;
    height: auto;
}

/* 图片居中 */
.img-fluid {
    display: block;
    margin: 20px auto 0;
}
