/* 统一的默认字体颜色 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* 背景颜色 */
    color: #333; /* 设置正文文本颜色为灰黑色 */
}

/* 容器样式 */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

/* 页眉和页脚样式 */
header, footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* 导航栏样式 */
nav {
    background: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #002040;
    border-radius: 4px;
}

/* 标题颜色设置 */
#home h3, #introduction h3, #training-materials h3,
#home h4, #introduction h4, #training-materials h4 {
    color: #0056b3;  /* 为标题添加深蓝色 */
}

/* 设置正文文本颜色为灰黑色 */
p, a, li {
    color: #333; /* 设置正文文本颜色为灰黑色 */
}

/* 图片样式 */
#home img {
    max-width: 100%;
    height: auto;
}

#home, #introduction, #training-materials {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

#home, #introduction, #training-materials ul {
    padding-left: 20px;
}

#home, #introduction, #training-materials li {
    margin-bottom: 10px;
}

/* 图片居中 */
.img-fluid {
    display: block;
    margin: 20px auto 0;
}
